
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 1ch;
}

body .App .p-inputgroup .p-inputgroup-addon {
    color: inherit;
}

code {
    display: block;
    padding: 0.5ch;
    white-space: pre;
    overflow-x: auto;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    background: #f4f4f4;
}

.half-margin-bottom, .half-margin-bottom-not-last {
    margin-bottom: 0.5ch;
}

.margin-bottom {
    margin-bottom: 1ch;
}

.max-width-100 {
    max-width: 100%;
}
